<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="appstore_rate_916815434" data-view="Number"</div>
    </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fabric_916815434" data-view="Number" data-title="Crashfree" data-sufix="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins_Afisha.Restaurants.iOS" data-view="Number" data-title="Unit tests" data-sufix="%"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="appstore_review_916815434" data-view="Review"</div>
    </li>
  </ul>
</div>