<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="warnings_Rambler.Eda.iOS" data-view="Number" data-title="Xcode Warnings" data-sufix="%"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="analyzer_priority_Rambler.Eda.iOS" data-view="PieChart" data-title="Priority" data-unordered="true" data-sufix="%"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="analyzer_top_Rambler.Eda.iOS" data-view="List" data-title="Top Issues" data-sufix="%"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fabric_oom_691216087" data-view="Number" data-title="OOM Free" data-sufix="%"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="jenkins_Rambler.Eda.iOS" data-view="Number" data-title="Unit tests" data-sufix="%"></div>
    </li>
  </ul>
</div>