<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="crashfree-leaderboard" data-view="List" data-unordered="true" data-title="Crash-Free Leaderboard (avg. per month)"></div>
    </li>
  </ul>
</div>