<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="appstore_rate_1097099835" data-view="Number"</div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fabric_1097099835" data-view="Number" data-title="Crashfree" data-sufix="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins_Sup.LiveJournal.iOS" data-view="Number" data-title="Unit tests" data-sufix="%"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="google_spreadsheet_Rambler.Afisha.iOS" data-view="CodeReviewStatus" data-title="Межпроектное ревью"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="appstore_review_1097099835" data-view="Review"</div>
    </li>
  </ul>
</div>