// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$review-title-color:       rgba(0, 0, 0, 1);
$review-text-color:        rgba(0, 0, 0, 1);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-review {

  background-color: $background-color;

  .review-title {
    color: $review-title-color;
  }

  .review-text {
    color: $review-text-color;
  }

  .author-name {
    color: $review-text-color;
  }

  .date {
    color: rgba(255, 255, 255, 0.7);
  }

  .review-rating {
    color: $review-text-color;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .star {
    width: 20%;
    float: left;
  }

  .yellow {
    color :rgba(255, 210, 0, 1);

  }

  .gray {
    color :rgba(163, 163, 163, 1);
  }

  &.large h3 {
    font-size: 65px;
  }
}
