// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9b59b6;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-google-spreadsheet styles
// ----------------------------------------------------------------------------
.widget-google-spreadsheet {

  background-color: $background-color;

  .title {
    color: $title-color;
    font-size: 30px;
  }

  .value {
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}
